*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f7fb;
color:#333;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:#0b4f9c;
color:#fff;
position:sticky;
top:0;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:20px;
font-weight:600;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") center/cover;
color:#fff;
padding:20px;
}

.hero-content h1{
font-size:55px;
margin-bottom:15px;
}

.hero-content p{
font-size:22px;
margin-bottom:25px;
}

.btn{
display:inline-block;
padding:14px 30px;
background:#ff9800;
color:#fff;
text-decoration:none;
border-radius:30px;
margin:8px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#ff6d00;
transform:scale(1.05);
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:10px;
}

.hero-content h1{
font-size:34px;
}

.hero-content p{
font-size:18px;
}

}
form{
max-width:600px;
margin:auto;
}

form input,
form textarea{
width:100%;
padding:15px;
margin-bottom:15px;
border-radius:10px;
border:1px solid #ddd;
font-size:16px;
}

form button{
border:none;
cursor:pointer;
}
.logo img{
height:70px;
width:auto;
}
